@import url(//fonts.googleapis.com/css?family=Poppins);
@import url(//fonts.googleapis.com/css?family=Titillium+Web);
@import url(//fonts.googleapis.com/css?family=Francois+One);

:root{
  --small-shadow:-5px 4px 24px -4px #a8a8a8;;
  --light-orange:rgb(238, 159, 70);
  --light-grey:rgb(235, 235, 235);
}

body,html{
  height: 100%;
  background-color: rgb(255, 51, 0);
}

h1{
  font-family: "Francois One";
}

h2,h3,h4{
  font-family: "Titillium Web";
}

h5,h6,p,li,button,div{
  font-family: "Poppins";
}

i {
  margin:10px;
}

button {
  float: right;
  margin:10px;
  border: none;
  outline:none;
  border-radius: 10px;
  padding:5px;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  color:white;
  transition: 0.3s;
}

button:hover{
  color: black;
}

button:focus{
  outline:none;
  border:none;
}

form{
  background:linear-gradient(var(--light-orange),orange);
  border-radius: 20px;
  padding:20px;
}

form i{
  float: right;
  margin: 0;
  color:black;
}

input{
  transition: 0.3s;
  font-family: "Poppins";
  margin:20px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
  color:whitesmoke;
  padding:10px;
  border:0;
  outline: 0;
}

input:focus{
  background-color: rgba(0,0,0,0.1);
  color:black;
}

input::placeholder{
  color: whitesmoke;
}

input[type="submit"]{
  transition: 0.3s;
  background-color:black;
  color:whitesmoke;
}

i{
  font-size:30px;
}

.container{
  text-align: center;
}

.container-fluid{
  text-align: center;
  padding:10px;
}

.right-container{
  text-align:right;
  margin-left: auto;
  margin-right: 50px;
  margin-bottom:50px;
  width: 70%;
  margin-bottom: 30px;
}

.left-container{
  text-align:left;
  margin-right: auto;
  margin-left: 50px;
  margin-bottom:50px;
  width: 70%;
}

.header{
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  color:white;
}

.header h3 {
  float: none;
}

.header-outside{
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  color:white;
  overflow: hidden
}

.header-outside h3 {
  float: left;
}

.landing-page{
  color:white;
}

.modal{
  margin-left: auto;
  margin-right: auto;
  display:none;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8)
}

.index-forms{
  margin-top:100px;
  height:fit-content;
  min-height: 300px;
  border-radius: 20px;
  width:fit-content;
  min-width:400px;
  border-radius:30px;
}

.index-forms h1,h2,h4,p{
  margin:auto;
  text-align: center;
  color: black;
}

.list-container{
  background-color:rgb(32, 33, 37);
  width:300px;
  padding:15px;
  padding-right:10px;
  padding-left:10px;
  float: left;
  margin:20px;
  border-radius: 10px;
  color:white;
}

.list-container h5{
  text-align: left;
  font-weight: bold;
}

.list-container .add-card{
  text-align: left;
}

.list{
  background-color:var(--light-grey);
  border-radius: 5px;
  width:100%;
  min-height:50px;
  padding:10px;
  color:black;
}

.card {
  text-align: left;
  background-color:rgb(24, 24, 26);
  color:white;
  border-radius: 5px;
  display: block;
  width:95%;
  margin-bottom:10px;
  padding:10px;
  box-shadow: 6px 7px 13px -6px rgb(165, 165, 165);
}

.tilt {
  transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  box-shadow: 10px 7px 13px -6px black;
}

.add-card{
  display: block; 
  border-radius: 5px;
  width:50%;
  min-height:20px;
  padding:5px;
  margin-bottom:-10px;
  margin-top:10px;
  transition:0.3s;
  background-color: transparent;
  color: whitesmoke;
}

.add-card i{
  font-size: 15px;
}

.add-card:hover{
  background-color: rgba(255, 255, 255, 0.137);
}

.card-create-container{
  display: block;
  border-radius: 5px;
  width:90%;
  padding:5px;
  margin-bottom:-10px;
  margin-top:10px;
  transition:0.3s;
  background-color: rgba(255, 255, 255, 0.137);
  color: whitesmoke;
}

form.add-card-form{
  margin:5px;
  margin-top:15px;
  padding:5px;
  background:transparent;
  background-color: rgba(255, 255, 255, 0.171);
}

form.add-card-form input[type="text"]{
  margin:0;
  width:90%;
}

form.add-card-form input[type="submit"]{
  margin:5px;
  padding:10px;
}

form.add-card-form input[type="text"]:focus{
  background-color: black;
  color:white;
}

@media screen and (max-width:800px){
  .index-forms{
    width:95%;
    min-width:0;
  }

  .list-container{
    width:95%;
    margin:10px;
    display:block;
    float: none;
  }

  .list{
    width:95%;
  }

  .card{
    width:90%;
  }
}